In [1]:
l =[36,25,85,65,45,89,12]

In [2]:
l

[36, 25, 85, 65, 45, 89, 12]

## loop:for

In [3]:
range(0,10)

range(0, 10)

In [5]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [6]:
l

[36, 25, 85, 65, 45, 89, 12]

In [7]:
len(l)

7

In [8]:
for i in range(0,7):
    print(l[i])

36
25
85
65
45
89
12

In [9]:
for i in range(0,len(l)):
    print(l[i])

36
25
85
65
45
89
12

In [11]:
l

[36, 25, 85, 65, 45, 89, 12]

In [12]:
sum = 0

for i in range(0,len(l)):
    sum =sum+l[i]
    
print(sum)

357

In [13]:
word ="india"

for letter in word:
    print(letter)

i
n
d
i
a

## multiplication

In [14]:
n = 5

for i in range(1,11):
    print(f"{n}x{i} ={n*i}")

5x1 =5
5x2 =10
5x3 =15
5x4 =20
5x5 =25
5x6 =30
5x7 =35
5x8 =40
5x9 =45
5x10 =50

## factorial of a number

In [15]:
result =1
n=5

for i in range(1,n+1):
    result = result*i
    
print(result)

120

## print the pattern

## 2.loop:while

In [ ]:
while<condition>:
    ptint()

In [17]:
n =5
i =1

while i<=n:
    print("*"*i)
    
    
    i = i+1

*
**
***
****
*****

In [20]:
n =5
i =1

 while i>=1:
    print("*"*i)
    
    i=i-1

IndentationError: unexpected indent (829493851.py, line 4)

## pattern print

In [23]:
string = "PYTHON INDIA"
index = 0

while index <len(string):
    print(string[index])
    
    index +=1

P
Y
T
H
O
N

I
N
D
I
A

## print the number from n to 1

In [28]:
num = int(input("Enter number:"))

while num >= 1:
    print(num)
    
    num -=1

Enter number:5
5
4
3
2
1

In [29]:
num =7
while num >= 1:
    print(num)
    
    num -=1

7
6
5
4
3
2
1

## functions

In [30]:
l

[36, 25, 85, 65, 45, 89, 12]

In [31]:
len(l)

7

In [33]:
s = 'INDIA VS ENGLAND'

In [34]:
s

'INDIA VS ENGLAND'

In [35]:
len(s)

16

In [37]:
for i in range(15,20):
    print(i)

15
16
17
18
19

In [ ]:
def asdfhjkl():

In [ ]:
def my_func():
    pass

In [40]:
def greet():
    print("hello!")

In [41]:
greet()

hello!

In [42]:
result = greet()

hello!

In [43]:
def test1():
    sum = 1+5
    
    
    return sum

In [44]:
test1()

6

In [48]:
result = test1()

In [46]:
print(result)

None

In [47]:
type(result)

NoneType

In [50]:
def test3():
    
    li =[1,2,3]
    
    return li

In [51]:
result = test3()

In [52]:
print(result)

[1, 2, 3]

In [53]:
len(result)

3

In [54]:
def test5():
    
    name ="PRAVIN"
    
    return name

In [55]:
name = test5()

In [56]:
name

'PRAVIN'

In [59]:
test5() +"DOLE"

'PRAVINDOLE'

In [60]:
def test6():
    
    return 36,58,14,

In [61]:
test6()

(36, 58, 14)

In [62]:
def test6():
    
    return[36,58,14]

In [63]:
test6()

[36, 58, 14]

In [64]:
a,b,c = test6()

In [65]:
a

36

In [66]:
b

58

In [67]:
c

14

In [68]:
a,b,c = 1,2,3

In [69]:
print(a)
print(b)
print(c)

1
2
3

In [70]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

In [72]:
def test7():
    
    result = 50/20*6+8-5
    
    return result

In [74]:
test7()

18.0

In [75]:
50/20*6+8-5

18.0

In [85]:
def test8():
    
    l = [1,2,3,4,5,6,7,8,9,10]
    
    sum = 0
    
    for i in l:
        
        sum = sum + i
        
    return sum

In [86]:
test8()

55

In [91]:
def test9():
    
    l =[1,2,3,4,5, 'INDIA','PUNE',6,7,8,'RANI',9,10]
    
    sum = 0
    
    for i in l:
        
        if type(i) ==int:
            
            sum += i
            
    return sum

In [92]:
test9()

55

In [95]:
def test10(my list):
    
    sum = 0
    
    for i in list:
        
        if type(i) ==int:
            
            sum +=i
            
    return sum

In [114]:
def test11(mylist):
    
    sum = 0
    
    for i in mylist:
        
        if type(i) ==int:
            
            sum += i
            
    return sum

In [115]:
l = [1,2,3,4,'a','b','c',5]

In [116]:
test11(mylist=l)

15

In [118]:
def two_no_sum(a,b):
    
    sum = a + b
    
   
    return sum

In [119]:
a = 2
b = 3

result = two_no_sum(a,b)

result

In [ ]:
test7()

In [120]:
len(l)

8

In [3]:
l = [1,2,3,4,'a','b','c',5]

In [4]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [5]:
['a','b','c']

['a', 'b', 'c']

In [9]:
def test12(mylist):
    
    li = []
    
    for i in mylist:
        
        if type(i) == str:
            
            li.append(i)
            
            
    return li

In [10]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [11]:
test12(l)

['a', 'b', 'c']

In [23]:
def test13(mylist: list()):
    
    li_int = []
    li_str = []
    
    for i in mylist:
        
        if type(i) == str:
            li_str.append(i)
            
        if type(i) == int:
            li_int.append(i)
        
    return li_str,li_int

In [18]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [19]:
list_str,list_int = test13(l)

In [20]:
list_str

['a', 'b', 'c']

In [21]:
list_int

[1, 2, 3, 4, 5]

In [22]:
test13(list_int)

([], [1, 2, 3, 4, 5])

In [ ]:
1. Assignment

2.Post